body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

.phonebookTitle {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 38px;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #212121;
}

.contactsTitle {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}
